.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

body {
  margin: 0;
  padding: 0;
  font-family: "TeXGyreAdventor", sans-serif;
}

#container {
width: 50%;
padding-left: 25%;
padding-top: 10%
}

#drag-elements {
  float: left;
  width: 20em;
  height: 20em;
  border: solid black;
  align-content: center;
}

#drop-target{
  float: right;
  width: 20em;
  height: 20em;
  border: solid black;
}

#display{
  background-color: red;
}

#element{
  margin: auto;
  margin-top: 1em;
  padding: 1em;
  border: solid black;
  width: 50%;
  align-self: center;
  text-align: center;
}
