html, body {
            height: 100%;
            margin: 0;
        }

.App {
  text-align: center;
  height: 100%;
  background-color: lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 80px;
}

.App-header {
  background-color: transparent;
  height: 100%;
  margin-bottom: 5%;
}

.App-header-logo {
  width: 300px;
  height: auto;
  float: left;
  margin-left: 10%;
}

.App-title {
  font-family: sans-serif;
  font-size: 2em;
  color: black;
}

.App-intro {
  font-size: large;
}


.App-body {
  text-align: center;
  background-color: whitesmoke;
  min-height: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.App-footer {
  left: 0;
  margin-bottom: 0;
  width: 100%;
  background-color: rgb(216,216,216);
  vertical-align: middle;
  text-align: center;
  margin-top: 20px;
  height: 5%;
  min-height: 3em;
  bottom: 0px;

}

.App-footer-text {
  margin-top: .5em;
  margin-left: 2em;
  margin-bottom: .5em;
  float: left;
  width: 46%;
  color: white;
  font-size: 1.2em;
}


.App-footer-buttons{
  margin-top: .5em;
  float: right;
  width: 50%;
}

.Footer-button{
  background-color: #d8d8d8;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-left: 1em;
  margin-right: 1em;
  display: inline-block;
  font-weight: bold;
}

/*
.App-button-login {
  position: relative;
  background-color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
  color: #444444;
  padding: 20px;
  width: 100px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.App-button-register {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: normal;
  color: black;
  padding: 20px;
  width: auto;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}*/
