.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

body {
  margin: 0;
  padding: 0;
  font-family: "TeXGyreAdventor", sans-serif;
}

#container {
width: 70%;
margin: auto;
height: 20em;
background: white;
position: center;
border: 3px solid steelblue;
}

#drag-elements, #drag-elements2 {
  float: left;
  align-content: center;
  background-color: green;
}

#drop-target, #drop-target2{
  float: right;
  background-color: red;

}

#el{
  margin: auto;
  margin-left: 1em;
  margin-top: 1em;
  padding: 1em;
  border: solid steelblue;
  align-self: center;
  text-align: center;
}
