.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

body {
  margin: 0;
  padding: 0;
  font-family: "TeXGyreAdventor", sans-serif;
}
/*
#container {
width: 70%;
margin: auto;
height: 20em;
background: white;
position: center;
}

#drag-elements {
  align-content: center;
  float: left;
}

#drop-target {
    float: right;
}

#drop-target1, #drop-target2, #drop-target3, #drop-target4 {
    text-align: top;
    padding: 2em;
    border: solid grey;
}

#el{
  padding: 1em;
  border: solid grey;
  align-self: center;
  text-align: center;
}

#el{
  margin: auto;
  margin-left: 1em;
  margin-top: 1em;
  padding: 1em;
  border: solid grey;
  align-self: center;
  text-align: center;
}*/
