.FirstPage-Body {
    height: 100%;
    width: 100%;
}

.pic{
    width: 15%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.Header-img {
    width: 50%;
}

.Button-teacher {
    background-color: #00676f;
    color: white;
    border: none;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-size: 20px;
    margin-top: 1%;
    display: inline-block;
    border-radius: 10px;
    font-weight: bold;


}

.Button-teacher:hover{
    background-color: #007272;
}

.Button-student {
    background-color: #00676f;
    color: white;
    border: none;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-size: 20px;
    margin-top: 1%;
    display: inline-block;
    border-radius: 10px;
    margin-right: 7%;
    font-weight: bold;
}

.Button-student:hover{
    background-color: #007272;
}

.FirstPage-content{
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 1%;
}

.text-box{
    background-color: #D3D3D3;
    padding: 2%;
    border-radius: 15px;
    margin-right: 20%;
    margin-left: 20%;
    width: 60%;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .2);
}
.info-text{
    color: #5d5d5d;
    font-size: 140%;
}
.info-logo-text{
    margin-top: 1%;
    font-size: 30px;
    font-weight: bold;
}
.FirstPage-catch{
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 1%;
    color: #5d5d5d;
    font-weight: bold;
    font-size: 170%;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: #F09A9D; /* Red */
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E; /* Yellow */
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: #B2D6FF; /* Blue */
    }
}