.FirstPage-Body {
    height: 100%;
    width: 100%;
}

.pic{
    width: 20%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.Button-teacher {
    background-color: #00676f;
    color: white;
    border: none;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-size: 20px;
    margin-top: 2%;
    display: inline-block;
    border-radius: 5%;


}

.Button-teacher:hover{
    background-color: #007272;
}

.Button-student {
    background-color: #00676f;
    color: white;
    border: none;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-size: 20px;
    margin-top: 2%;
    display: inline-block;
    border-radius: 5%;
    margin-right: 11%;
}

.Button-student:hover{
    background-color: #007272;
}

.FirstPage-content{
    float: left;
    width: 100%;
    height: 100%;
    margin-top: 1%;
}

.text-box{
    background-color: #D3D3D3;
    padding: 5% 5% 5% 5%;
    border-radius: 15px;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 2%;
}
.info-text{
    color: #5d5d5d;
    font-size: 110%;
}
.info-logo-text{
    padding-top: 2%;
    font-size: 150%;
}
.FirstPage-catch{
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 5%;
    color: #5d5d5d;
    font-size: 130%;
}


/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: #F09A9D; /* Red */
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: #F5CF8E; /* Yellow */
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: #B2D6FF; /* Blue */
    }
}