#go-back{
    float: right;
    margin-bottom: 2%;
    background-color: white;
    color: #00676f;
}



.subjects{
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 1%;
}

.title-subjects{
    background-color: #00676f;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    border-radius: 10px;
    margin-top: 10%;
}

.pic-subject{
    top-width: "50%";
    align-content: center;


}
