/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}
.bm-burger.button:hover {
    color: #007272;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: grey;
}

.bm-burger-bars:hover {
    color: #92dbe8;
}

.hr-style{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}



/* Position and sizing of clickable cross button
.bm-cross-button {
    height: 24px;
    width: 24px;
}

Color/shape of close button cross
.bm-cross {
    background: white;
}
*/
/* General sidebar styles */
.bm-menu {
    height: 100%;
    background-color: white;
    padding: 2.5em;
    font-size: 20px;
    color: white;
    width: 80%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-top: 4%;

}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.1);
}

.H-logo {
    display:inline-block;
    text-align: center;
    text-decoration: none;
}

.H-logo:hover {
    color: #007272;
}

.Link:any-link {
    font-size: 1.5em;
    color: grey;
    text-decoration: none;
}
.Link:hover{
    color: darkgray;
}

.LinkT:any-link {
    font-size: 1.5em;
    color: grey;
    text-decoration: none;
}
.LinkT:hover{
    color: #007272;
}

.LinkS:any-link {
    font-size: 1.5em;
    color: grey;
    text-decoration: none;
}
.LinkS:hover{
    color: #007272;
}

.Profile-img-side {
    width: 100px;
    height: 100px;
    -webkit-border-radius: 100px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 100px;
    -moz-background-clip: padding;
    border-radius: 100px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    background-size: cover;
    background-position: center center;
    display: inline-block;
}

.Button-logout {
    color: white;
    background-color: #005858;
    padding: 10%;
    text-align: center;
    border-radius: 5px;
    width: 100px;
    height: auto;
    font-size: 16px;
    margin-top: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
}

.Button-logout:hover {
    background-color: #007272;
    text-decoration: none;
    color: white;
}
