/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: grey;
}

/* Position and sizing of clickable cross button
.bm-cross-button {
    height: 24px;
    width: 24px;
}

Color/shape of close button cross
.bm-cross {
    background: white;
}
*/
/* General sidebar styles */
.bm-menu {
    height: 100%;
    background-color: white;
    padding: 2.5em;
    font-size: 20px;
    color: white;
    width: 80%;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    text-align: left;
    display: block;
    text-decoration: none;

}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.1);
}

.Link:any-link {
    color: grey;
    text-decoration: none;
}

.Profile-img-side {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
    margin-top: 10%;
    width: 100px;
}