.subjects{
    margin-right: 10%;
    margin-left: 10%;
}

.title-box{
    background-color: #005858;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    text-align: left;
    border-radius: 10px;
    margin-top: 1%;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .2);
}

.page-tile {
    color: black;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

.pic-subject{
    top-width: "50%";
    align-content: center;


}