.Teacher {
    height: 100%;
    width: 100%;
}

.Teacher-header {
    background-color: #005858;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .2);
}

.Teacher-body {
    max-width: 100%;
}


.Teacher-img {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 200px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 200px;
    -moz-background-clip: padding;
    border-radius: 200px;
    background-clip: padding-box;
    margin-left: 15px;
    background-size: cover;
    background-position: center center;
    float: left;
}

.Teacher-table {
    padding-top: 20px;
}

.Teacher-name {
    margin-left: 25%;
    text-align: left;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
}

.Teacher-name-right {
    text-align: center;
    font-weight: bold;
    color: black;
    font-family: sans-serif;
    font-size: 30px;
    margin-left: 15px;
}

.Teacher-card {
    background-color: #008B8B;
    padding-top: 15px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .2);
    min-height: 230px; /* samma som profilbilden */
    display: inline-block;
    margin-right: 2%;
}

.Teacher-card-right {
    background-color: #D3D3D3;
    padding-top: 15px;
    width: 28%;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, .2);
    min-height: 230px; /* samma som profilbilden */
    display: inline-block;
}

.Teacher-properties {
    margin-left: 25%;
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: white;
    padding: 5px;
}

.Teacher-properties-right {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 5px;
    margin-left: 15px;
}

.Correct-button {
    background-color: #005858;
    color: white;
    border: none;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    width: 150px;
}

.Correct-button:hover {
    background-color: #008B8B;
    color: white;
}

.Arrow-up {
    -webkit-transform: rotateX(0deg);
    margin-left: 1%;
}

.Arrow-down {
    -webkit-transform: rotateX(180deg);
    margin-left: 1%;
}

.Course-title {
    width: 300px;
    color: black;
    text-align: left;
}

.Course-title-button {
    alignment: left;
    color: grey;
}

.Course-body {
    max-width: 300px;
    margin-right: 2%;
    margin-top: 2%;
}

.Progress-title {
    color: white;
    text-align: left;
}

.Progress-body {
    margin-top: 2%;
}

.Course-list {
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
}

.Course-box {
    text-align: left;
    max-width: 300px;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, .2);
}

.Course-edit-button {
    background-color: grey;
    color: white;
    border: none;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-size: 10px;

}

.Course-edit-button:hover {
    background-color: #008B8B;
    color: white;

}

.Progress-bar {
    padding-right: 2%;
    width: 100%;
}

.quiz{
    padding-right: 20%;
    padding-left: 20%;
}
